<a href="/"><h1>Shortly</h1></a>
<div class="navigation">
<ul>
  <div ng-controller="CreateCtrl">
    <form>
      <input class="left" type="text" ng-model="url">
      <button class="left" ng-click="submit()">Shorten</button>
    </form>
  </div>
</ul>
</div>
<div id="container" ng-view>
</div>