<h1>Shortly</h1>
<div class="navigation">
<ul>
  <li><a href="/" class="index">All Links</a></li>
  <li><a href="/create" class="create">Shorten</a></li>
  <li><a href="/sort" class="sortByVisits">Sort By Visits</a></li>
  <li><a href="/" class="sortByLast">Sort By Last Visit</a></li>
</ul>
</div>
<div id="container" ng-view>
</div>