<h1>Shortly</h1>
<div class="navigation">
<ul>
  <li><a href="/" class="index">All Links</a></li>
  <!-- <li><a href="/create" class="create">Shorten</a></li> -->
  <div ng-controller="CreateCtrl">
    <form>
      <input class="text" type="text" ng-model="url">
      <input type="submit" value="Shorten" ng-click="submit()">
    </form>
  </div>
</ul>
</div>
<div id="container" ng-view>
</div>