<html>
<head>
  <title>Shortly</title>
  <script src="lib/underscore.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="lib/moment.js"></script>
  <script src="/client/app.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="shortlyApp">
  <%= yield %>
</body>
</html>